body {
  background-image: url("bg.jpg");
}

.nav {
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  background: #232323;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.36);
  height: 3em;
  margin: 0;
}
.nav h2 {
    color: #fff;
    margin: 0 !important;
}

h2 {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wrapper {
  padding: 5em 10em;
  text-align: center;
}

.form-wrap {
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  text-align: center;
  margin-left: 2em;
}
input:focus {
  outline: none;
  text-align: center;
  background-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent;
}

button {
  margin-top: 1.75em;
}

#result {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 0;
}

.result-box {
  display: flex;
  padding: 1em 0;
}
.result-box p {
  padding-left: 5em;
}

img {
  width: 2em;
  height: 2em;
}

.grid-area {
  display: grid;
  grid-template-columns: repeat(6, auto);
  padding: 0.5em;
  margin-top: 5em;
  border: solid 5px hsla(0, 95%, 35%, 1);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

p {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
